{{extend '../index.html'}}
{{block 'content'}}
<div class="content col-10">
  <nav aria-label="breadcrumb w-100">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin"><i class="fa fa-home fa-lg"></i>&nbsp;首页</a></li>
        <li class="breadcrumb-item"><a href="/admin/admin/list">管理员</a></li>
        <li class="breadcrumb-item active" aria-current="page">管理员列表</li>
      </ol>
  </nav>
  <div class="content">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col-1">序号</th>
              <th scope="col-2">用户名</th>
              <th scope="col-4">公司名称</th>
              <th scope="col-2">状态</th>
              <th scope="col-3">编辑</th>
            </tr>
          </thead>
          <tbody>
              {{each list}}
                <tr>
                  <th scope="row">{{$index+1}}</th>
                  <td>{{$value.username}}</td>
                  <td>{{$value.companyname}}</td>
                  <td>
                    <span class="badge  badge-pill badge-success">{{$value.status}}</span>
                  </td>
                  <td>
                    <span class="class="btn-group" role="group" aria-label="Basic example"">
                      <a href="" class="btn btn-primary btn-sm">编辑</a>
                      <a href="" class="btn btn-danger btn-sm">删除</a>
                    </span>
                  </td>
                </tr>
              {{/each}}

          </tbody>
        </table>
  </div>
</div>
{{/block}}