<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HS管理系统</title>
    <!-- Bootstrap core CSS -->
    <link href="{{__HOST__}}/admin/css/bootstrap.css" rel="stylesheet">

     <!--Custom styles for this template -->
    <link href="{{__HOST__}}/admin/css/admin.ui.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Script-->
    <script src="{{__HOST__}}/admin/js/jquery_3.2.1_jquery.slim.min.js"></script>
    <script src="{{__HOST__}}/admin/js/popper.js_1.12.9_umd_popper.min.js"></script>
    <script src="{{__HOST__}}/admin/js/bootstrap.js"></script>

</head>