<nav class="navbar navbar-light bg-light">
    <label for="logo">
            <i class="fa fa-houzz fa-2x"></i>
            <i class="fa fa-gg fa-2x"></i>
            <a class="navbar-brand">HS后台管理系统<small class="text-muted">v1.0.0</small></a>
    </label>
   
    <form class="form-inline">
        <label for="Search">
                <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>
        </label>
        <label for="userinfo">
            <img src="{{__HOST__}}/admin/avatars/user.jpg" alt="">
            <p class="text-bottom" id="userinfo">欢迎您admin</p>
            <i class="fa fa-cog fa-2x"></i>
        </label>
    </form>

</nav>